:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-color: #55A3A8;
  --secondary-color: #F1F6EF;
  --dark-back: #295B84;
  --accent-1: #FAB3A0;
  --accent-2: #FFDDD2;
  --accent-3: #FFDDD2;
  --accent-4: #FFDEB2;
  --accent-w: #F7FFF4;
  --accent-d: #336B99;


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body { 
  color: var(--accent-w);
  background: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}